<h1>Passenger Show Page</h1>

<p>Passenger Name: <%= @passenger.name %></p>

Flights
<% @passenger.flights.each do |flight| %>
<ul>
  <li><%= link_to "#{flight.number}", "/flights/#{flight.id}" %></li>
</ul>
<% end %>

<h3>Add flight for <%= @passenger.name %></h3>

<%= form_tag "/passengers/#{@passenger.id}/flightpassengers", method: :post do %>
  <%= label_tag :number %>
  <%= text_field_tag :number %>

  <%= submit_tag "Add Flight" %>
<% end  %>
